{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
{% endblock %}

{% set cell_class = "border border-slate-600 px-3 py-1" %}
{% set button_class = "px-3 py-1 cursor-pointer text-white rounded hover:opacity-80 active:opacity-70" %}
{% block content %}
<div class="flex flex-col justify-start items-center">
    <div class="p-6 bg-slate-100 shadow rounded-lg">
        <div class="flex flex-row gap-5 py-3">
            <input id="search_filter" class="border border-slate-600 px-2 py-1 w-60 rounded" type="text" id="search" placeholder="Search models..." oninput="filterSortModels()" autocomplete="off">
            <select id="category_filter" class="border border-slate-600 px-2 py-1 w-80 rounded">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.display_name }}</option>
                {% endfor %}
            </select>
            <div class="flex flex-row gap-2">
                <input id="show_hidden" type="checkbox" class="w-5" checked />
                <label class="self-center">Show Hidden</label>
            </div>
        </div>
        <table class="border-collapse w-[1000px]">
            <thead>
                <tr>
                    <th class="{{ cell_class }} cursor-pointer select-none" sortkey="name">ID</th>
                    <th class="{{ cell_class }} cursor-pointer select-none" sortkey="display_name">Name</th>
                    <th class="{{ cell_class }} cursor-pointer select-none min-w-[120px]" sortkey="category_name">Category</th>
                    <th class="{{ cell_class }}">Flags</th>
                    <th class="{{ cell_class }}">Options</th>
                </tr>
            </thead>
            <tbody id="models">
                {% for model in models %}
                <tr name="{{ model.name }}">
                    <td class="{{ cell_class }} truncate max-w-[300px]">{{ model.name }}</td>
                    <td class="{{ cell_class }}">{{ model.display_name }}</td>
                    <td class="{{ cell_class }}">{{ model.category_name }}</td>
                    <td class="{{ cell_class }}">
                        <div class="flex flex-row flex-nowrap justify-center items-center gap-2">
                            {% if model.rtl %}
                            <span class="bg-emerald-800 text-white px-1 h-6 text-center rounded">RTL</span>
                            {% endif %}
                            {% if model.hidden %}
                            <span class="bg-sky-800 text-white px-1 h-6 text-center rounded">H</span>
                            {% endif %}
                            {% if model.code.strip().startswith("@group") %}
                            <span class="bg-purple-800 text-white px-1 h-6 text-center rounded">G</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="{{ cell_class }}">
                        <div class="flex flex-row flex-nowrap justify-center items-center gap-2">
                            <a class="{{ button_class }} bg-blue-500" href="/admin/models/{{ model.name }}">
                                Edit
                            </a>
                            <a class="{{ button_class }} bg-indigo-500" href="/admin/models/{{ model.name }}/duplicate">
                                Duplicate
                            </a>
                            <button class="{{ button_class }} bg-red-500" hx-post="/admin/models/{{ model.name }}/delete" hx-confirm="Are you sure you want to delete {{ model.display_name }} [{{ model.name }}]">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <style>
            th.asc::after {
                content: "▲";
                display: inline-block;
                width: 0;
                translate: 3px 0;
            }
            th.desc::after {
                content: "▼";
                display: inline-block;
                width: 0;
                translate: 3px 0;
            }
        </style>
        <script>
            var models = {{ models|tojson }};
        </script>
        <script>
            function filterSortModels() {
                saveOptions();
                let results = searchResults();

                const categoryFilter = document.getElementById("category_filter").value;
                if (categoryFilter !== "") {
                    results = results.filter(model => model.category_name === categoryFilter);
                }

                const showHidden = document.getElementById("show_hidden").checked;
                if (!showHidden) {
                    results = results.filter(model => !model.hidden);
                }

                const sortEl = document.querySelector("th.asc, th.desc")
                const sortKey = sortEl ? sortEl.getAttribute("sortkey") : "order";
                const asc = sortEl ? sortEl.classList.contains("asc") : true;
                results = sortModels(results, sortKey, asc);
                showHideModels(results);
            }

            function searchResults() {
                const query = document.getElementById("search_filter").value;
                if (query === "") {
                    return models;
                }
                const fuse = new Fuse(models, {
                    keys: ['name', 'display_name', 'category_name'],
                    threshold: 0.3,
                    includeScore: true
                });
                const results = fuse.search(query);
                return results.map(result => result.item);
            }

            function sortModels(models, key, asc) {
                return models.sort((a, b) => {
                    if (key === "name") {
                        return asc ? a.name.localeCompare(b.name) : b.name.localeCompare(a.name);
                    } else if (key === "display_name") {
                        return asc ? a.display_name.localeCompare(b.display_name) : b.display_name.localeCompare(a.display_name);
                    } else if (key === "category_name") {
                        return asc ? a.category_name.localeCompare(b.category_name) : b.category_name.localeCompare(a.category_name);
                    } else if (key === "order") {
                        return asc ? a.order - b.order : b.order - a.order;
                    }
                });
            }

            function showHideModels(models) {
                const wrapper = document.getElementById("models");
                var shownRows = document.createDocumentFragment();
                var hiddenRows = document.createDocumentFragment();

                const names = models.map(model => model.name);

                wrapper.querySelectorAll("tr[name]").forEach(row => {
                    if (names.includes(row.getAttribute("name"))) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                        hiddenRows.appendChild(row);
                    }
                })

                for (let i = 0; i < names.length; i++) {
                    const name = names[i];
                    const row = wrapper.querySelector(`tr[name="${name}"]`);
                    if (row) {
                        shownRows.appendChild(row);
                    }
                }

                wrapper.innerHTML = "";
                wrapper.appendChild(shownRows);
                wrapper.appendChild(hiddenRows);
            }

            function setupFiltersSorts() {
                document.getElementById("category_filter").addEventListener("change", filterSortModels);
                document.getElementById("show_hidden").addEventListener("change", filterSortModels);
                document.querySelectorAll("th[sortkey]").forEach(th => {
                    th.addEventListener("click", function() {
                        document.querySelectorAll("th[sortkey]").forEach(otherTh => {
                            if (otherTh !== th) {
                                otherTh.classList.remove("asc");
                                otherTh.classList.remove("desc");
                            }
                        });

                        const key = th.getAttribute("sortkey");
                        const asc = th.classList.contains("asc");
                        const desc = th.classList.contains("desc");
                        
                        if (asc) {
                            th.classList.remove("asc");
                            th.classList.add("desc");
                        } else if (desc) {
                            th.classList.remove("desc");
                        } else {
                            th.classList.add("asc");
                        }

                        filterSortModels();
                    });
                });
            }

            function saveOptions() {
                const sortEl = document.querySelector("th.asc, th.desc");
                const sortKey = sortEl ? sortEl.getAttribute("sortkey") : "order";
                const asc = sortEl ? sortEl.classList.contains("asc") : true;
                const options = {
                    search_query: document.getElementById("search_filter").value,
                    category_filter: document.getElementById("category_filter").value,
                    show_hidden: document.getElementById("show_hidden").checked,
                    sort_key: sortKey,
                    sort_asc: asc
                };
                localStorage.setItem("model_table_options", JSON.stringify(options));
            }

            function loadOptions() {
                const options = JSON.parse(localStorage.getItem("model_table_options"));
                if (options) {
                    document.getElementById("search_filter").value = options.search_query;
                    document.getElementById("category_filter").value = options.category_filter;
                    document.getElementById("show_hidden").checked = options.show_hidden;
                    const sortEl = document.querySelector(`th[sortkey="${options.sort_key}"]`);
                    if (sortEl) {
                        if (options.sort_asc) {
                            sortEl.classList.add("asc");
                        } else {
                            sortEl.classList.add("desc");
                        }
                    }
                }
            }

            document.addEventListener("DOMContentLoaded", function() {
                loadOptions();
                setupFiltersSorts();
                filterSortModels();
            });
        </script>
    </div>
</div>
{% endblock %}